<html>
  <% include ../partials/head %>
  <body>
    <header>
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" data-activates="slide-out" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only">
              <i class="material-icons" style="line-height: 76px">menu</i>
            </a>
            <a class="page-title">Dashboard</a>
          </div>
        </div>
      </nav>
    </header>  
    <div class="row container">

      <div class="col s3">
        <% include ../partials/nav-s %>
      </div>

      <div class="col s9">
        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="https://d13yacurqjgara.cloudfront.net/users/52627/screenshots/1664729/dribbble800x600_1x.png">
                <span class="card-title black-text">Call A Car</span>
                <form id="findMeForm" method="POST" action="/confirmRide">
                  <input type="hidden" id="currLong" name="currLong"></input>
                  <input type="hidden" id="currLat" name="currLat"></input>
                  <a class="btn-floating halfway-fab waves-effect waves-light red submitBtn"><i class="material-icons">rss_feed</i></a>
                </form>
              </div>
              <div class="card-content">
                <p>Get a ride to either your home or your school.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <% include ../partials/footer %>  
  </body>
</html>  
  
