<html>
  <% include ../partials/head %>
  <body class="container">
    <!-- Parent Details -->
    <!-- Google Map of plotted route, maybe even estimated time? -->
    <a class="waves-effect waves-light btn" href="/rateParent/<%=trip._id%>/<%=tripRoute%></a>">Rate</a>
    <% include ../partials/footer %>
  </body>
</html>