html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
    .login-form {
        width: 280px;
    }
}

@media only screen and (min-width: 701px) {
    .login-form {
        width: 500px;
    }
}

.margin {
    margin: 0 !important;
}

.profile-image-login {
    width: 100px;
    height: 100px !important;
}

.medium-small {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

.card-panel {
    padding: 25px !important;
}
